Repository Pulz-TCP/ftbquests, changes with the owners that CODEOWNERS names for each.
All owners: @Pulz-TCP, @radioactivsnake, @conkCreets, @Kody1964, @Mads-bs

new descriptions and rewards added
  normal/chapters/ad7369a9/13b61817.snbt
  normal/chapters/ad7369a9/211f7511.snbt
  normal/chapters/ad7369a9/3121a8db.snbt
  normal/chapters/ad7369a9/5894cdd9.snbt
  normal/chapters/ad7369a9/933e65b9.snbt
  normal/chapters/ad7369a9/942e5795.snbt
  normal/chapters/ad7369a9/9c835ab3.snbt
  normal/chapters/ad7369a9/chapter.snbt
  normal/chapters/ad7369a9/d0642079.snbt
  normal/chapters/ad7369a9/eb9d8588.snbt
  normal/chapters/afda2c56/8ee5c8a1.snbt
  normal/reward_tables/716b74f1.snbt
  normal/reward_tables/8ebb45f5.snbt
  normal/reward_tables/aee1a4ac.snbt
  normal/reward_tables/index.snbt
Owners: @radioactivsnake, @Pulz-TCP

retain shape
  normal/chapters/afda2c56/8ee5c8a1.snbt
Owners: @Pulz-TCP

typo
  normal/chapters/ad7369a9/211f7511.snbt
Owners: @radioactivsnake

typo
  normal/chapters/ad7369a9/933e65b9.snbt
Owners: @radioactivsnake

Delete all, redoing
  normal/chapters/afda2c56/01efc5eb.snbt
  normal/chapters/afda2c56/2dfe6e4a.snbt
  normal/chapters/afda2c56/3335def5.snbt
  normal/chapters/afda2c56/36e0ede9.snbt
  normal/chapters/afda2c56/4672b6e5.snbt
  normal/chapters/afda2c56/4681a0d6.snbt
  normal/chapters/afda2c56/483dbfe5.snbt
  normal/chapters/afda2c56/4dafea7c.snbt
  normal/chapters/afda2c56/4e8807fe.snbt
  normal/chapters/afda2c56/53bee994.snbt
  normal/chapters/afda2c56/578d4408.snbt
  normal/chapters/afda2c56/60b1ba88.snbt
  normal/chapters/afda2c56/8744a507.snbt
  normal/chapters/afda2c56/8ee5c8a1.snbt
  normal/chapters/afda2c56/94a92590.snbt
  normal/chapters/afda2c56/95fc02a5.snbt
  normal/chapters/afda2c56/9eec86d4.snbt
  normal/chapters/afda2c56/a06fa358.snbt
  normal/chapters/afda2c56/a43d562b.snbt
  normal/chapters/afda2c56/a929cc31.snbt
  normal/chapters/afda2c56/ac5b0187.snbt
  normal/chapters/afda2c56/b56ec41a.snbt
  normal/chapters/afda2c56/c00d3456.snbt
  normal/chapters/afda2c56/c8034936.snbt
  normal/chapters/afda2c56/cf139ae6.snbt
  normal/chapters/afda2c56/chapter.snbt
  normal/chapters/afda2c56/d9010d5b.snbt
  normal/chapters/afda2c56/e112f63d.snbt
  normal/chapters/afda2c56/e2eac9dc.snbt
Owners: @Pulz-TCP

[IC2] Initial basic quests
  normal/chapters/afda2c56/1781bf52.snbt
  normal/chapters/afda2c56/1915e16c.snbt
  normal/chapters/afda2c56/1cb2deba.snbt
  normal/chapters/afda2c56/225c4aea.snbt
  normal/chapters/afda2c56/3350472b.snbt
  normal/chapters/afda2c56/345d8c91.snbt
  normal/chapters/afda2c56/463b9574.snbt
  normal/chapters/afda2c56/47e16cfa.snbt
  normal/chapters/afda2c56/4b877f41.snbt
  normal/chapters/afda2c56/4f9c5136.snbt
  normal/chapters/afda2c56/58716ece.snbt
  normal/chapters/afda2c56/5c6d7da9.snbt
  normal/chapters/afda2c56/6435f09a.snbt
  normal/chapters/afda2c56/869a484f.snbt
  normal/chapters/afda2c56/943feb6a.snbt
  normal/chapters/afda2c56/a4cf48f1.snbt
  normal/chapters/afda2c56/a996e409.snbt
  normal/chapters/afda2c56/bc51f417.snbt
  normal/chapters/afda2c56/c382ec86.snbt
  normal/chapters/afda2c56/chapter.snbt
  normal/chapters/afda2c56/dd520fb2.snbt
  normal/chapters/afda2c56/e608e9e9.snbt
  normal/chapters/afda2c56/f9cc4b01.snbt
Owners: @Pulz-TCP

CODEOWNERS:

/normal/chapters/afda2c56/ @Pulz-TCP
/normal/chapters/ad7369a9/ @radioactivsnake
/normal/chapters/6d3edbcc/ @conkCreets
/normal/chapters/6d3494ed/ @Kody1964
/normal/chapters/1e1a72d8/ @Mads-bs
